[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.2.5"
django-environ = "==0.11.2"
celery = {version = "==5.3.4", extras = ["redis"]}
redis = "==4.6.0"
stripe = "==5.4.0"

[dev-packages]
black = "==22.12.0"
factory-boy = "==3.3.0"
flake8 = "==6.0.0"
isort = "==5.10.1"
pre-commit = "==3.4.0"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
